body {
  padding-top: 3.5rem;
}

/* CSS for Navbar Start */
nav>div.container {
  position: relative;
}

.navbar-brand>span {
  font-size: 2rem;
  letter-spacing: -.1rem;
  font-weight: 600;
}

.navbar-brand>span.text-success+span {
  color: #7e441e;
}

.navbar-brand>img {
  width: 2.5rem;
  height: 2.5rem;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

.nav-item {
  text-align: right;
}

a.nav-link:hover {
  color: #007E33 !important;
  text-decoration: underline #007E33;
}

.navbar a.btn {
  font-size: 16.5px;
  position: absolute;
  right: 0px;
}

.navbar a.btn:focus,
.navbar a.btn:active {
    outline: none;
    box-shadow: none;
}
/* CSS for Navbar End */

/* CSS for Form Start */
.form-signup {
  width: 100%;
  max-width: 420px;
  padding: 15px;
  margin: auto;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group input,
.form-label-group label {
  height: 3.125rem;
  padding: .75rem;
}

.form-row label {
  height: 3.125rem;
  padding: .75rem;
  padding-left: 1rem;
}

.form-signup input:focus,
.form-signup input:active {
    outline-color: none;
    box-shadow: none;
    border-color: #53A451; 
}

.form-label-group label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0; /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  pointer-events: none;
  cursor: text; /* Match the input under the label */
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:-moz-placeholder-shown) {
  padding-top: 1.25rem;
  padding-bottom: .25rem;
}

.form-label-group input:not(:-ms-input-placeholder) {
  padding-top: 1.25rem;
  padding-bottom: .25rem;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: 1.25rem;
  padding-bottom: .25rem;
}

.form-label-group input:not(:-moz-placeholder-shown) ~ label {
  padding-top: .25rem;
  padding-bottom: .25rem;
  font-size: 12px;
  color: #777;
}

.form-label-group input:not(:-ms-input-placeholder) ~ label {
  padding-top: .25rem;
  padding-bottom: .25rem;
  font-size: 12px;
  color: #777;
}

.form-label-group input:not(:placeholder-shown) ~ label {
  padding-top: .25rem;
  padding-bottom: .25rem;
  font-size: 12px;
  color: #777;
}

/* Fallback for Edge
-------------------------------------------------- */

@supports (-ms-ime-align: auto) {
  .form-label-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }

  .form-label-group label {
    position: static;
  }

  .form-label-group input::-ms-input-placeholder {
    color: #777;
  }
}
/* CSS for Form End */

/* CSS for Jumbotron Start */
.jumbotron {
  background-image: url("../img/BigImage_newcolor.png");
  background-color: #cccccc;
  background-size: cover;
  min-height: 370px;
  height: 77vh;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 4rem; 
}

.jumbotron h1 {
  font-size: calc(30px + 2.5vw);
  text-shadow: 5px 2px #5d5b5b;
  letter-spacing: 3px;
}

.jumbotron p.text-white {
  font-size: 22px;
  font-size: calc(20px + 0.5vw);
}
/* CSS for Jumbotron End */

/* MARKETING CONTENT
-------------------------------------------------- */

.marketing h1 {
  font-size: calc(27px + 1vw);
  word-spacing: .5rem;
}

.marketing .col-lg-4 {
  text-align: center;
}

.marketing .col-lg-4 img {
  height: 110px;
}

.marketing .col-lg-4 h4 {
  letter-spacing: .05rem;
}

.marketing .col-lg-4 p {
  margin-right: .75rem;
  margin-left: .75rem;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 5rem 0; 
}

#why,
#contact {
  margin-bottom: 5rem;
}

.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
  font-size: calc(22px + .8vw) !important;
}

.featurette p {
  font-size: 1rem;
}

.embed-responsive {
  width: 840px;
  height: 360px;
}

#mapContainer {
  display: flex;
  justify-content: center;
}

.marketing a.btn-warning {
  margin-bottom: 5rem;
}

/* CSS for Footer Start */
footer a:hover {
  color: #53A451 !important;
}

footer hr+div {
  position: relative;
}

footer small+div {
  width: 220px;
  height: 20px;
  position: absolute;
  right: 0px;  
}

footer small+div img {
  max-width: 100%;
  max-height: 100%;
}
/* CSS for Footer End */

/* Animation
------------------------- */

/* Image Hover Effects */
.featurette .col-lg-6 {
  overflow: hidden;
 }
  
.featurette img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;

}

.featurette img:hover {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}

/* Button Hover Effects */
.btn-warning {
  border-bottom: 5px outset #ffbb33;
}

.btn-warning:hover {
  color: #ffffff;
  transform: scale(1.1);
  transition: .5s ease-in-out;
  background-color: #ffbb33;
  border: none;
  border-bottom: 5px outset #ffbb33;
}

/* Extra utilities */
.overflow-hidden { overflow: hidden; }

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 576px) {
  .navbar-brand {
    position: absolute;
    left: 0px;
  }
}

@media (min-width: 40em) {
  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
